/* 
	This is a CSS file designed to hold declarations specific
	for this atlas.
 */

.nunaliit_atlas .nunaliit_header-nav>ul>li>ul>li>a:hover {
	cursor: pointer;
}

.mejs__controls{
    position: fixed;
    bottom: 20px;
    left: 0px;
    opacity: 1;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
}

.nunaliit_content .n2timeline {
    display : none;
}

.ol-control.ol-timeline {
    display : none;
}
.n2_scripteditor_sidebar{
	
	display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    top: 0;
    float: left;
    bottom: 0;
    width: 210px;
    background-color: #DDDDDD;
    font-family: OpenSans;
    box-sizing: border-box;
}
.n2_scripteditor_sidebar_header {
	background-color: #AAAAAA;
    height: 70px;
    box-sizing: border-box;
    padding: 12px 10px;
    font-family: PTSansNarrow;
    font-size: 15px;
    width: 210px;
}

.n2_scriptEditor_script_content {
    position: relative;
    margin: 0 0 50px 210px;
    padding: 50px 50px 0 30px;
    line-height: 210%;
    font-family: "Times New Roman", Times, serif;
    white-space: pre-wrap;
    font-size: 17px;
    min-width: 568px;
    max-width: 1024px;
    word-wrap: break-word;
    height: 100%;
    /* float: right; */
    overflow: hidden;
    /* white-space: nowrap; */
    width: 100px;
}

.cls-context-menu-link {
    display:block;
    padding:20px;
    background:#ECECEC;
}

.transcript-context-menu { position:absolute; display:block; }
.transcript-context-menu-hide { position:absolute; display:none; }


.transcript-context-menu ul {
    list-style:none;
    margin:0; padding:0;
    background:white;
}

.transcript-context-menu { border:solid 1px #CCC;}
.transcript-context-menu li { border-bottom:solid 1px #CCC; }
.transcript-context-menu li:last-child { border:none; }
.transcript-context-menu li  {
    display:block;
    padding: 7px 10px; 
    text-decoration:none;
    color:blue;
}
.transcript-context-menu li:hover {
    background:blue;
    color:#FFF;
}
.transcript-context-menu ul {
	cursor: pointer;
}
.mdc-card__media.mdc-card__media--square {
	width:110px;
}
.mdc-card__primary-action {
	display: flex;
	flex-direction: row;
}
.n2card__primary {
	padding-left: 15px;
	width: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* -------------------- Homepage Style Rules for JR Slider ------------------ */
.nunaliit_module_module_056home #jr_slideshow {
	height: 600px;
}

.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_container:not(.active):not(.last-active) {
	top:unset;
	right:unset;
	background-color: unset;
	background-image: unset;
	border:unset;
	padding:0px;
	position:absolute;
	z-index: 0;
	display: block;
}

.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_container .jr_slideshow_slide {
	position: absolute;
   	width: 100%;
   	height: 100%;
   	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_slide .jr_slideshow_slidetext {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20%;
	min-width: 300px;
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	border-radius: 2px;
	z-index:2;
}

/* Remove underline beneath hyperlinks */
.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_slide .jr_slideshow_slidetext a{
	text-decoration: none;
}

/* Note: button z-index is +1 above the jr_slideshow_slidetext div, in order for it to be clickable */
.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_button{
	padding:5px;
	background-color: #3465a4;
	border-radius:2px;
	border: 1px solid #204a87;
	color: #FFFFFF;
	z-index:3;
}

.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_button:hover{
	background-color: #4e9a06;
	border: 1px solid #3e7a06;
	transition: 0.3s;
}

.nunaliit_module_module_056home #jr_slideshow .jr_slideshow_slide .jr_slideshow_slidetext p {
	padding-top: 7px;
}

/* #overview_content = wrapper for overview text content beneath jr_slider */
.nunaliit_module_module_056home #main {
	padding: 15px 40px 15px 40px;
}

/* Remove standard padding rules for pages, in order to allow jr_slider to fit 100% of screen size */
.nunaliit_module_module_056home .n2_content_text,
.nunaliit_module_module_056home .n2ModuleIntro {
	padding:0px !important;
	background-color:#111111;
	overflow: hidden;
}

.nunaliit_module_module_056home div#overview_content {
    margin: 10px;
}

.nunaliit_module_module_056about .nunaliit_form_link_find_on_map {
	display: none;
}

.nunaliit_module_module_056tutorial .nunaliit_form_link_find_on_map {
	display: none;
}

.nunaliit_module_module_056home .nunaliit_form_link_find_on_map {
	display: none;
}

.nunaliit_module_module_056multiStories .n2widgetLegend_outer {
    margin-bottom: 30px;
}

/* Show wiki document on home page */
.nunaliit_module_module_056home .n2ModuleIntro > .intro > .n2s_fullDisplayed > .n2_documentDisplay > .n2_layoutFloat .n2s_wikiTransformed {
	color: white;
}

.nunaliit_module_module_056home .n2ModuleIntro > .intro > .n2s_fullDisplayed > .n2_documentDisplay > .n2_layoutFloat .atlascine_wikidoc_content {
	overflow-y: scroll;
	max-height: 200px;
}

/* Custom timeline specific styling */
#n2_filterableLegendWidgetGraphic div.n2_CustomGraphic {
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#filterableLegendWidgetGraphicArea div.timeline_map_tag_row:nth-child(n+2):nth-last-child(n+2) {
	height: 100%;
}

.timeline_bar {
	cursor: pointer;
}

.timeline_popup {
	background: #fff;
	border: 1px solid #69F;
	border-radius: 5px;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	padding: 0.25em 0.5em;
	position: absolute;
	text-align: center;
	z-index: 10;
	display: none;
}

#n2_filterableLegendWidgetGraphic {
	background-color: rgb(255, 255, 255, 0.85);
}

/* MediaElement control alignment with the timeline */
.mejs__controls .mejs__button {
	width: 72px;
	display: flex;
	justify-content: center;
}

.mejs__controls .mejs__time-rail {
	margin: 0 0 0 10px;
}

/* This drawer open button can be seen very rarely when the map is loading or very zoomed out. */
.n2widget_drawer_open_button {
	display: none;
}

/* Hide "Add or Edit a Map Feature" in the OL6 Canvases */
.nunaliit_module_module_056stories > div > div.n2_content_map_interaction > input.n2map_map_interaction_switch,
.nunaliit_module_module_056multiStories > div > div.n2_content_map_interaction > input.n2map_map_interaction_switch {
	display: none !important;
}

/* Hide the "Default" Language in the Language Selection */
.n2Lang_langSelect_dialog > div.mdc-dialog__container > div.mdc-dialog__surface > div.mdc-dialog__content > div.mdc-form-field > *:nth-last-child(-n+2) {
	display: none;
}

/* MediaElement player detects and changes class on time hover if it's a long video (>1hr) */
.mejs__time-float,
.mejs__time-float-current {
	width: 64px;
}

.mejs__long-video .mejs__time-float {
	margin-left: 0px;
}

/* Hide Search on Stories and MultiStories modules */
.nunaliit_module_module_056stories #search_panel,
.nunaliit_module_module_056multiStories #search_panel {
	display: none;
}

/* Stories and MultiStories sidebar do not overflow */
.nunaliit_module_module_056stories .n2_content_text,
.nunaliit_module_module_056stories .n2_content_contains_map .n2_content_text
.nunaliit_module_module_056multiStories .n2_content_text,
.nunaliit_module_module_056multiStories .n2_content_contains_map .n2_content_text {
	overflow: visible !important;
}

/* Reduce horizontal padding and make cinemap language selection div float right */
.nunaliit_atlas .nunaliit_module_title .cinemapTranscriptLanguageDiv {
	float: right;
	padding: 4px 10px;
}
.nunaliit_atlas .nunaliit_module_title .n2widget_singleFilterSelection {
	padding: 4px 10px;
}

/* Move Editor module selection */
.nunaliit_atlas .nunaliit_module_title .atlascine_editor_selection_widget {
	float: right;
	padding: 4px 10px;
}

/* Make it look like all the other selects */
.nunaliit_atlas .nunaliit_module_title .atlascine_editor_selection_widget > select {
	border-width: 1px;
    border-radius: 2px;
    background-color: #F1F1F1;
}

/* Hide OL2 Line and Polygon Creation Buttons */
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive,
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
	display: none;
}

/* Mobile stuff to make it at least look presentable */
@media screen and (max-width: 759px) {
	.nunaliit_atlas .nunaliit_title {
		line-height: normal;
	}

	.n2_content_contains_map .n2_content_text {
		left: 0;
		right: 0;
		width: auto;
	}

	#content .n2_filterableLegendWidgetWithGraphic {
		display: none;
	}

	.nunaliit_content > .n2widgetLegend {
		display: none;
	}

	.nunaliit_atlas .nunaliit_module_title .n2widget_singleFilterSelection {
		padding: 0;
	}

	.nunaliit_atlas .nunaliit_module_title .n2widget_singleFilterSelection > select {
		width: 100%;
	}

	.nunaliit_module_title .n2widget_singleFilterSelection {
		float: none;
		padding: 0;
	}

	.nunaliit_login .nunaliit_login_greeting_outer_container .nunaliit_login_greeting_inner_container > button span.mdc-button__label {
		display: none;
	}
}

/* Hide Help Button on all modules */
#help_button {
	display: none;
}

/* Context Menu odd ul spacing */
div.transcript-context-menu > ul li {
	margin-bottom: 0px;
}

/* Make username area larger width */
section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end {
	max-width: 400px;
}

.nunaliit_atlas .nunaliit_header_container .nunaliit_login_greeting_outer_container {
	max-width: 300px;
}

/* Theme Toggler */
.nunaliit_atlas #theme_toggler {
	background-image: url(../images/ic_preview.png);
	background-repeat: no-repeat;
	background-size: 2em;
	height: 2em;
	cursor: pointer;
	margin-left: 0.5em;
	padding: 0px 20px;
}
