# Nunaliit directories to ignore
################################

media/*
upgrade/*
logs/*
dump/
extra/*

# atlas specific settings to ignore
#################################

config/sensitive.properties
config/mail.properties
.DS_Store
