# Nunaliit directories to ignore
################################

media/*
upgrade/*
logs/*

# Nunaliit sensitivity.properties
#################################

config/sensitive.properties
config/mail.properties
