# Nunaliit directories to ignore
################################

/atlascine/media
/atlascine/upgrade
/atlascine/logs

# Nunaliit sensitivity.properties
#################################

/atlascine/config/sensitive.properties

