[Unit]
Description=nunaliit-rwanda
Requires=couchdb.service
After=couchdb.service

[Service]
Type=simple
User=nunaliit
ExecStart=/Users/mdtanvirislam/workspace/rwanda-nunaliit/nunaliit_snapshot/bin/nunaliit --atlas-dir "/Users/mdtanvirislam/workspace/rwanda-nunaliit/rwanda-atlas/." run
Restart=on-failure

[Install]
WantedBy=multi-user.target