[Unit]
Description=nunaliit-atlascine
Requires=couchdb.service
After=couchdb.service

[Service]
Type=simple
User=nunaliit
ExecStart=/home/roikle/workspace/gcrc_nunaliit/nunaliit2-couch-command/target/appassembler/bin/nunaliit --atlas-dir "/home/roikle/workspace/atlascine/atlascine/." run
Restart=on-failure

[Install]
WantedBy=multi-user.target